body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.refresh-icon-div img{
  height: 30px;
  width: 30px;
  background-color: #6DB3F2;
  padding: 10px;
  border-radius: 100%;
}

.delete-icon-div img{
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

.main-chat-div{
  position: fixed;
  bottom: 0;
  right: 0;
}
